.body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
}

input {
  margin: .2em  ;
}

button {
  margin: .2em;
}

ol {
  width: fit-content;
}

.list {
  margin-top: 1em;
}

.true {
  background: rgb(249, 249, 208);
}